<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="temp/assets/img/favicon.png" rel="icon">
  <link href="temp/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="temp/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="temp/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="temp/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="temp/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="temp/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="temp/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="temp/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    {% include("layout/parts/navbar.html") %}
    <main id="main">
        {% block content %}  {% endblock %}
    </main>
    {% include("layout/parts/footer.html") %}
 
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="temp/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="temp/assets/vendor/aos/aos.js"></script>
  <script src="temp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="temp/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="temp/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="temp/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="temp/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="temp/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="temp/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="temp/assets/js/main.js"></script>

</body>

</html>